
<%= form_for(@user, url: user_update_path) do |f| %>

    <h4>プロフィール写真</h4>
    <%= f.attachment_field :image %>

    <h4>ユーザネーム</h4>
    <%= f.text_field :name %>

    <h4>プロフィール</h4>
    <%= f.text_field :profile %></br>

    <div>
    <%= f.submit '変更を適用する',class: "btn btn-default" %></br>
</div>
<div>
    <%= link_to "退会はこちら", user_close_path(@user) ,class: "btn btn-default"%>
</div>
  <% end %>