<div class="container">
	<div class = "user-show">
		<div class="row">
			<div class="col-lg-4 col-xs-12">
				<div class="user-show-user">
					<p class="user-show-userimage"><%= attachment_image_tag @user, :image, :fill, 150, 150, fallback: "no-image.png", size:'150x150' %></p>
					<h2 class="user-show-username"><%= @user.name %></h2>
					<div class="user-show-userprofile"><%= simple_format(@user.profile) %>
					</div>
					<% if @user.id == current_user.id or @admin == true %>
						<div class="user-show-editlink">
							<%= link_to "プロフィール編集", user_edit_path, class: 'btn btn-default btn-block' %>
						</div>
					<% end %>
					<div class="user-show-favoritelink">
						<%= link_to "投稿した一覧", user_path, class: 'btn btn-default btn-block' %>
					</div>
					<% if @user.id == current_user.id or @admin == true %>
						<div class="user-show-closelink">
						<%= link_to "退会はこちら", user_unsubscribe_path %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="col-lg-8 col-xs-12 user-show-post">
				<h2 class="user-show-posthead"><%= @user.name %>さんのいいねした一覧</h2>
				<% @user.favorite_posts.each do |post| %>
					<div class="row post-index-each">
						<div class="col-xs-3 col-xs-offset-1" >
							<%= attachment_image_tag post, :image, :fill, 200, 200, fallback: "no-image.png", size:'170x200' %>
						</div>
						<div class="col-xs-1 post-index-user">
							<div class="post-index-name">
								<p><%= post.user.name %></p>
							</div>
							<div class="post-index-userimage">
							<%= attachment_image_tag post.user, :image, :fill, 60, 60, fallback: "no-image.png", size:'60x60' %>
							</div>
						</div>
						<div class="col-xs-5">
							<h2 class="post-index-title"><%= post.title %></h2>
							<% tags = post.tag_list %>
								<% tags.each do |tag| %>
									<%= link_to tag_path(tag) do %>
										<button class="btn btn-default btn-sm index-post-tag"><%= tag %></button>
									<% end %>
								<% end %>
								<p class="post-index-content"><%= post.content.truncate(25) %></p>
								<div class="flex-container">
									<h1>
									<%= link_to post_show_path(post.id) do %>
									<i class="fas fa-chevron-circle-right fa-second"></i>
									<% end %>
									</h1>
									<%= render 'favorites/favorite', post: post %> 
								</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
