<div class="post-index">

	<p class="post-index-head">阿佐ヶ谷広場</p>


	<div class="post-index-newlink">
		<%= link_to "新しい投稿がしたい！", post_new_path,  class: 'btn btn-default' %>
	</div>

	<div class="post-index-posts">
		<% @posts.each do |post| %>
			
			<div class="col-lg-3 post-index-user-image">
				<%= attachment_image_tag post, :image, :fill, 60, 60, fallback: "no-image.png", size:'150x200' %>
			</div>
			
			<div class="post-index-flex">
				<div class="col-lg-4">
					<div class="post-index-name">
						<p><%= post.user.name %>さん</p>
					</div>
					<%= attachment_image_tag post.user, :image, :fill, 60, 60, fallback: "no-image.png", size:'50x50' %>
				</div>
				
				<div class="col-lg-10">
					<p>tags: <%= raw(post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
					<p class="post-index-title"><%= post.title %></p>
					<p class="post-index-content"><%= post.content %></p>
					<p class="post-index-address"><%= post.address %></p>
							
					<%= link_to "詳細を見る", post_show_path(post.id),  class: 'btn btn-default' %>
				</div>
			</div>
	
		<% end %>
	</div>
</div>
	